<div class="container" style="margin: 0 auto;">
  <div class="row text-left">
      <div class="col-md-4 top-space ">
	</div>
  </div>
    <div class="row">
	    <div class="col-md-6 top-space ">
		  	<p>
		  	  En este sitio web podrá realizar consultas con la temática de <b>arte</b>.
					</br></br>
					Podrá realizar busquedas por instancias, clases, propiedades o libre.
		  	</p>
		  	<p>
		  		La información presentada es tomada de múltiples fuentes:
					<ul>
					<li>Wikiart</li>
					<li>Artnet</li>
					<li>Artcyclopedia</li>
					</ul>
		  	</p>
				<p>Además de esto realiza enriquecimiento desde las siguientes fuentes:</p>
				<ul>
					<li>Dbpedia</li>
          <li>The Art & Architecture Thesaurus</li>
					<li>The British Museum</li>
				</ul>
		  	<p>
		  		Para la persistencia de la información se utilizó una ontología diseñada con la metodología: Methontology.
		  	</p>
	  </div>
	  <div class="col-md-6 top-space ">
			<img src="http://img06.deviantart.net/3a82/i/2014/361/5/4/art___semantic_network_by_bauvy-d8bf3cn.jpg" style="width: 100%;">
			<div class="be-small text-right ">Fuente: <a class="no-subrayado" href="http://www.deviantart.com/" target="_blank">Deviantart</a>.</div>


	  </div>
	</div>
</div>
