<div class="container" style="margin: 0 auto;">
    <h1>Artistas</h1>
    <div class="row">  

        <% @artists.each do |person| %>
        	<%= person.name %><br/>
        <% end %>
            
    </div>
</div>