<div class="container" style="margin: 0 auto;">
    <h1>Artistas</h1>
    <div class="row">  
        <%= @artists %>
            <ul>
                <li>artista</li>
            </ul>
            
    </div>
</div>